@model OriginalWorldProject.Models.Writer_application

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_BackstageLayoutStyle .cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal text-white">
    <h4>Writer_application</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Writer_application_ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Date_of_Application, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="col-form-label">@Model.Date_of_Application.ToString("yyyy/MM/dd HH:mm")</label>
            <div hidden>
                @Html.EditorFor(model => model.Date_of_Application, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date_of_Application, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pseudonym, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="col-form-label">@Model.Pseudonym</label>
            <div hidden>
                @Html.EditorFor(model => model.Pseudonym, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pseudonym, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Works_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="col-form-label">@Model.Works_name</label>
            <div hidden>
                @Html.EditorFor(model => model.Works_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Works_name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="text-capitalize col-form-label">
                @Html.Raw(Model.Introduction.ToString().Replace("\n", "<br>"))
            </p>
            <div hidden>
                @Html.EditorFor(model => model.Introduction, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Introduction, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Work_preview, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p class="text-capitalize col-form-label">
                @Html.Raw(Model.Work_preview.ToString().Replace("\n", "<br>"))
            </p>
            <div hidden>
                @Html.EditorFor(model => model.Work_preview, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Work_preview, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
            <div class="row">
                <div class="col-4">
                    <label class="btn btn-orange-s  btn-block rounded-1 active mr-2">
                        <input type="radio" name="Approval_status_ID" value="A2" class="d-none">處理中
                    </label>
                </div>
                <div class="col-4">
                    <label class="btn btn-orange-s  btn-block rounded-1 active mr-2">
                        <input type="radio" name="Approval_status_ID" value="A3" class="d-none">審核通過
                    </label>
                </div>
                <div class="col-4">
                    <label class="btn btn-orange-s  btn-block rounded-1 active mr-2">
                        <input type="radio" name="Approval_status_ID" value="A4" class="d-none">未通過審核
                    </label>
                </div>
            </div>
        </div>
    </div>
    @*<div class="form-group">
            <label class="control-label  col-md-2">審核狀態</label>
            @Html.LabelFor(model => model.Approval_status_ID, "Approval_status_ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Approval_status_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Approval_status_ID, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.Administrator_ID, "Administrator_ID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Administrator_ID, new { htmlAttributes = new { @class = "form-control", @Value = Session["Adm_ID"] } })
            @Html.ValidationMessageFor(model => model.Administrator_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.MemberID, "MemberID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MemberID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MemberID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.Review_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Review_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Review_date, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
