<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        I'm a Writter 寫書人|原創中文小說-人人都是小說家
    </title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link rel="icon" href="~/img/im_icon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/im_icon.png" type="image/x-icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/offcanvasStyle.css" rel="stylesheet" />
    <link href="~/Content/AllStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="bg-gray">
    <div class="row h-100">
        <div class="col-12">
            <div class="h-100">
                <div id="wrapper" class="wrapper">
                    <nav class="navbar navbar-dark bg-orange navbar-expand">
                        <button type="button" class="btn custom-btn ml-3" data-toggle="offcanvas">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="align-self-center collapse navbar-collapse ml-5">
                            <ul class="navbar-nav d-inline">
                                <li>
                                    <img src="~/img/w-logo_backstage_icon.png" class="float-left w-40p w-default" />
                                    <a class="navbar-brand mt-2 mb-2  text-fm ts-24 ts-20 ts-18 ts-16" href="#">後台管理系統</a>
                                </li>
                            </ul>
                        </div>
                        <div class=" my-2 mr-5">
                            @{
                                var a = Session["Authority"];
                                switch (a)
                                {
                                    case 0:
                                        <a href="#" class="btn-circle btn-blue_b">@Session["Administrator_name"]</a>
                                        break;
                                    case 1:
                                        <a href="#" class="btn-circle btn-pink">@Session["Administrator_name"]</a>
                                        break;
                                }
                            }
                            @*<a href="#" class="btn-circle btn-orange">@Session["Administrator_name"]</a>*@
                        </div>
                    </nav>
                    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                        <ul class="nav sidebar-nav">
                            <li class="sidebar-brand">
                                <a href="#">
                                    <img src="~/img/w-logo_icon.png" style="width:130px" />
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-home"></span> 首頁
                                </a>
                            </li>
                            <li>
                                <a href="/Announcements/Index" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-bullhorn"></span> 公告管理
                                </a>
                            </li>
                            <li>
                                <a href="/Members/Index" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-user-alt"></span> 會員管理
                                </a>
                            </li>
                            <li>
                                <a href="/Writer_application/Index" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-file-signature"></span>申請書管理 <span class="badge-sq badge-orange">@Session["new"]</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Writers/Index" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-feather-alt"></span> 作家管理
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-book"></span> 小說管理
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-flag"></span> 檢舉事件管理
                                </a>
                            </li>
                            <li>
                                <a href="/Administrators/Index" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class=" fas fa-list-alt"></span> 管理員清單
                                    <span class="badge-sq"><i class="fas fa-lock"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="/Login/Logout" class="text-fm ts-li-20 ts-li-18 ts-li-16">
                                    <span class="fas fa-sign-out-alt"></span> 登出
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="container body-content mt-5 mb-5">
                        @RenderBody()

                    </div>
                </div>
            </div>
            <div class="col-12 bg-orange">
                <footer class="footer">
                    <div class="text-align-center-footer">
                        <p class="text-center text-white ts-16-footer ts-14-footer ts-10-footer">&copy; @DateTime.Now.Year - Pei 版權所有</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/offcanvasJS")
    @RenderSection("scripts", required: false)

</body>
</html>
