<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm a Writter 寫書人|原創中文小說-人人都是小說家</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AllStyle.css" rel="stylesheet" />
    <link rel="icon" href="~/img/error_icon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/error_icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-black">
    <div class="navbar navbar-expand-lg navbar-dark bg-gray">
        <a href="/Home/Index" class="navbar-brand">
            <img src="~/img/w-logo_icon.png" width="150" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row w-100">
            <div class="collapse navbar-collapse col-10" id="navbarNavAltMarkup">
                <ul class="navbar-nav ts-li-20 ts-li-18 ts-li-16">
                    <li class="nav-item active mr-5">
                        <a class="nav-link" href="#">隨機推薦</a>
                    </li>
                    <li class="nav-item  active mr-5">
                        <a class="nav-link" href="#">分類</a>
                    </li>
                    <li class="nav-item active mr-5">
                        <a class="nav-link" href="#">人氣排行榜</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 row justify-content-center align-items-center">
                @{
                    var a = Session["Writter_qualifications"];

                    switch (a)
                    {
                        case 0:
                            <div class="dropdown">
                                <a class="btn-pill btn-outline-blue" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-lightbulb text-blue"></i> @Session["Member_Nickname"].ToString()
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/Writer_application/Create"><i class="far fa-file-alt">&emsp;申請作家</i></a>
                                    <a class="dropdown-item" href="/Login/Mem_Logout"><i class="fas fa-sign-out-alt">&emsp;登出</i></a>
                                </div>
                            </div>

                            break;
                        case 1:
                            <div class="dropdown">
                                <a class="btn-pill btn-outline-orange" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-lightbulb text-orange"></i> @Session["writter_pse"].ToString()
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/Works/Create"><i class="fas fa-pen-nib">&emsp;新增作品</i></a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-folder-open">&emsp;作品管理</i></a>
                                    <a class="dropdown-item" href="/Login/Mem_Logout"><i class="fas fa-sign-out-alt">&emsp;登出</i></a>
                                </div>
                            </div>
                            break;
                    }
                }
            </div>
        </div>
    </div>


    <div class="body-content container  mt-5">
        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/offcanvasJS")
    @RenderSection("scripts", required: false)
</body>
</html>
