@model OriginalWorldProject.Models.Administrator

@{
    ViewBag.Title = "修改密碼";
    Layout = "~/Views/Shared/_BackstageLayoutStyle .cshtml";
    var Authority = Json.Encode(ViewBag.Authority);

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal ts-16 text-white text-fm">
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    <span class="text-fm text-white ts-36">修改密碼</span>
                </div>
                <div class="col-md-2">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn-circle btn-orange-y">
                            <i class="far fa-save"></i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn-circle btn-orange" onclick="history.back()">
                            <i class="fas fa-reply"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <p class="border-bottom mb-5"></p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Administrator_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Adm_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="control-label">@Model.Adm_name</label>
                <div hidden>
                    @Html.EditorFor(model => model.Adm_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Adm_name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="control-label">@Model.Account</label>
                <div hidden>
                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="show_hide_password">
            <div class="form-group">
                <label class="control-label col-md-2" for="A_Password"><span class="text-danger">* </span>管理員密碼</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.A_Password, new { @class = "form-control", @id = "pwd", @placeholder = "請設定一組8-20字元的密碼，至少需包含一個數字、一個大寫或小寫字母、一個特殊符號。範例:aIGSD789@@" })
                    @Html.ValidationMessageFor(model => model.A_Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Confirm_pwd"><span class="text-danger">* </span>確認密碼</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Confirm_pwd, new { @class = "form-control", @id = "pwd2", @placeholder = "請再次輸入密碼" })
                    @Html.ValidationMessageFor(model => model.Confirm_pwd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10 mt-2 mb-2">
                    <span class="badge text-fm" id="pwd_show_color"><a href="" class="text-white"><i class="fa fa-eye-slash" aria-hidden="true"></i>顯示密碼</a></span>
                </div>
            </div>
        </div>

        <div class="form-group" hidden>
            @Html.LabelFor(model => model.Authority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="control-label">
                    <input type="checkbox" id="Authority" name="Authority" value="true" />
                    <label for="Authority">設定為最高權限</label>
                    @Html.ValidationMessageFor(model => model.Authority, "", new { @class = "text-danger" })
                </label>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@section scripts{
    <script>
        var id = ['#pwd', '#pwd2'];

        $(document).ready(function () {
            for (var i = 0; i <= id.length; i++) {
                Vaild(id[i]);
            }
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').removeClass("fa-eye").addClass("fa-eye-slash");
                    $('#pwd_show_color').removeClass("badge-orange").addClass("badge-secondary");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("fa-eye-slash").addClass("fa-eye");
                    $('#pwd_show_color').removeClass("badge-secondary").addClass("badge-orange");
                }
            });

        });

        function Vaild(name) {
            $(name).keyup(function () {
                if ($(this).hasClass('input-validation-error')) {
                    $(this).removeClass('is-valid').addClass('is-invalid');
                } else {
                    $(this).removeClass('is-invalid');
                }
            });
        }
    </script>
}
